{% extends "base.html" %}
{% block content %}

<div class="row form-container grey-text text-darken-2">
    <div class="col form-wrapper s12 l12 xl10 offset-xl1">
        <div class="card-panel z-depth-4">

            <!--Sign up and benefits - Left hand side section-->
            <div class="row">

                <!--Registration form - Right hand side section-->
                <form class="col s12 form-details" method="POST" action="{{ url_for('add_recipes') }}">
                    <h5 class="center-align">Add Recipe</h5>
                    
                    <div class="row">
                        <div class="input-field col s10 xl8 offset-s1 offset-xl2">
                            <input placeholder="" id="recipe_name" name="recipe_name" minlength="3" type="text" class="validate" required>
                            <label for="recipe_name">Recipe Name:</label>
                            <span class="helper-text" data-error="Recipe name must be at least 3 characters in length" data-success=""></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s10 xl8 offset-s1 offset-xl2">
                            <textarea placeholder="" name="recipe_summary" id="recipe_summary" class="materialize-textarea"></textarea>
                            <label for="recipe_summary">Recipe Description:</label>                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6 xl5 offset-s1 offset-xl2">
                            <input placeholder="" id="image_url" name="image_url" minlength="5" type="text"
                                class="validate" required>
                            <label for="image_url">Recipe Image URL:</label>
                            <span class="helper-text" data-error="Image URL must be at least 5 characters long" data-success=""></span>
                        </div>

                        <div class="input-field col s3 xl2 offset-s1 offset-xl1">
                            <input placeholder="" id="difficulty" name="difficulty" type="text" class="validate" required>
                            <label for="difficulty">Difficulty:</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s3 xl2 offset-s1 offset-xl2">
                            <input placeholder="" id="serves" name="serves" type="text" minlength="1" maxlength="2" pattern="^[0-9]{1,2}" class="validate" required>
                            <label for="serves">Serves:</label>
                            <span class="helper-text" data-error="Please enter a number this recipe serves" data-success=""></span>
                        </div>
                        <div class="input-field col s2 xl2 offset-s2 offset-xl1">
                            <input placeholder="" id="prep_time" name="prep_time" type="text" minlength="1" maxlength="2" pattern="^[0-9]{1,2}" class="validate" required>
                            <label for="prep_time">Prep Time:</label>
                            <span class="helper-text" data-error="Please enter a number this recipe serves" data-success=""></span>
                        </div>

                        <div class="input-field col s2 xl2  offset-s1 offset-xl1">
                            <input placeholder="" id="cook_time" name="cook_time" type="text" class="validate" required>
                            <label for="cook_time">Cook Time:</label>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s10 xl8 offset-s1 offset-xl2">
                            <textarea id="ingredients" name="ingredients" class="materialize-textarea" placeholder="Please list the recipe ingredients..."></textarea>
                            <label for="ingredients">Recipe Ingredients:</label>                         
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 xl8 offset-s1 offset-xl2">
                            <textarea id="ingredients" name="ingredients" class="materialize-textarea" placeholder="Please list the recipe ingredients..."></textarea>
                            <label for="ingredients">Recipe Ingredients:</label>                         
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s10 xl8 offset-s1 offset-xl2">
                            <textarea id="method" name="method" class="materialize-textarea" placeholder="Please enter the recipe method..."></textarea>
                            <label for="method">Recipe Method:</label>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 xl8 offset-s1 offset-xl2">
                            <textarea id="method" name="method" class="materialize-textarea" placeholder="Please enter the recipe method..."></textarea>
                            <label for="method">Recipe Method:</label>                            
                        </div>
                    </div>

                    <button class="btn waves-effect waves-grey col s4 xl2 offset-s4 offset-xl5 orange" type="submit"
                        name="action">Submit
                        <i class="material-icons left">account_circles</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}