<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="[https://use.typekit.net/xox5dyy.css](https://use.typekit.net/xox5dyy.css)">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Campfire Cooking</title>
</head>
<body>
    <header>
    <!--Top Navbar-->
        <nav>
            <div class="nav-wrapper text-shadow blue-grey lighten-2">
                
                    <a href="{{ url_for('recipes') }}" class="brand-logo center"><img class="z-depth-4" src="{{url_for('static', filename='images/Campfire-Cooking-Logo.png') }}" alt="campfire cooking logo"> </a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                    <ul id="nav-mobile-lhs" class="left hide-on-med-and-down ">
                        <li><a href="#"><i class="material-icons left">add_circle</i>Add recipe</a></li>
                        <li><a href="#"><i class="material-icons left">book</i>My recipe</a></li>
                    </ul>

                    <ul id="nav-mobile-rhs" class="right hide-on-med-and-down">
                        <li><a href="#"><i class="material-icons left">account_circle</i>Login</a></li>
                        <li><a href="#"><i class="material-icons left">input</i>Register</a></li>
                        <li><a href="#"><i class="material-icons left">close</i>Logout</a></li>
                    </ul>
               
            </div>
        </nav>

    <!--Side Navbar-->
        <ul class="sidenav text-shadow blue-grey lighten-2 white-text center" id="mobile-nav">
            <a href="{{ url_for('recipes') }}" class="brand-logo"><img class="z-depth-4 center" src="{{url_for('static', filename='images/Campfire-Cooking-Logo.png') }}" alt="campfire cooking logo"> </a>
            <li><a href="#" class="white-text"><i class="material-icons white-text">add_circle</i>Add recipe</a></li>
            <li><a href="#" class="white-text"><i class="material-icons white-text">book</i>My recipe</a></li>
            <li><a href="#" class="white-text"><i class="material-icons white-text">account_circle</i>Login</a></li>
            <li><a href="#" class="white-text"><i class="material-icons white-text">input</i>Register</a></li>
            <li><a href="#" class="white-text"><i class="material-icons white-text">close</i>Logout</a></li>
        </ul>
    </header>

    <div class="container main_content">

    {% block content %}

    {% endblock %}


    </div>

    <footer class="page-footer text-shadow blue-grey darken-2 center-align">
          <div class="container">
            <ul>
                <li>
                    <a href="https://www.twitter.com" class="waves-effect waves-light btn-floating social twitter blue-grey darken-2"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com" class="waves-effect waves-light btn-floating social facebook blue-grey darken-2"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com" class="waves-effect waves-light btn-floating social instagram blue-grey darken-2"><i class="fa fa-instagram"></i></a>
                </li>

            </ul>
            </div>
            
          <div class="footer-copyright">
            <div class="container">
            This website has been produced by Andrew Boyd
            </div>
          </div>
        </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/697e0c65d6.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>