{% extends "base.html" %}
{% block content %}

<div class="row form-container grey-text text-darken-2">
    <div class="col form-wrapper s12 l12 xl10 offset-xl1">
        <div class="card-panel z-depth-4">

            <div class="row">
                <!--Form content-->
                <form class="col s12 form-details" method="POST"
                    action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                    <a href="{{ url_for('recipes') }}"><i class="material-icons right">cancel</i></a>
                    <h5 class="center-align">Edit Recipe</h5>
                    <!--Recipe Title-->
                    <div class="row">
                        <div class="input-field col s10 xl8 offset-s1 offset-xl2">
                            <h6>Recipe Name:</h6>
                            <input value="{{ recipe.recipe_name }}" id="recipe_name" name="recipe_name" minlength="3"
                                type="text" class="validate" required>
                            <span class="helper-text" data-error="Recipe name must be at least 3 characters in length"
                                data-success=""></span>
                        </div>
                    </div>
                    <!--Recipe Description-->
                    <div class="row">
                        <div class="input-field col s10 xl8 offset-s1 offset-xl2">
                            <h6>Recipe Description:</h6>
                            <textarea name="recipe_summary" id="recipe_summary"
                                class="materialize-textarea">{{- recipe.recipe_summary -}}</textarea>
                        </div>
                    </div>
                    <!--Recipe Image-->
                    <div class="row">
                        <div class="input-field col s10 xl8 offset-s1 offset-xl2">
                            <h6>Recipe Image URL:</h6>
                            <input value="{{ recipe.image_url }}" id="image_url" name="image_url" type="text"
                                class="validate">
                        </div>
                    </div>
                    <!--Recipe Prep Timings-->
                    <div class="row">
                        <div class="input-field col s5 xl2 offset-s1 offset-xl2">
                            <h6>Prep Time:</h6>
                            <input value="{{ recipe.prep_time}}" id="prep_time" name="prep_time" type="text"
                                minlength="1" maxlength="2" pattern="^[0-9]{1,2}" class="validate" required>
                        </div>

                        <div class="input-field col s5 xl2">
                            <h6>&nbsp</h6>
                            <select id="prep_time_unit" name="prep_time_units" class="validate" required>
                                <option value="" disabled selected>Unit</option>
                                {% for unit in time_unit %}
                                {% if unit.time_unit == recipe.prep_time_units %}
                                <option value="{{ unit.time_unit }}" selected>{{ unit.time_unit }}</option>
                                {% else %}
                                <option value="{{ unit.time_unit }}">{{ unit.time_unit }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!--Recipe Cook Timings-->
                    <div class="row">
                        <div class="input-field col s5 xl2 offset-s1 offset-xl2">
                            <h6>Cook Time:</h6>
                            <input value="{{ recipe.cook_time}}" id="cook_time" name="cook_time" type="text"
                                minlength="1" maxlength="2" pattern="^[0-9]{1,2}" class="validate" required>
                        </div>

                        <div class="input-field col s5 xl2">
                            <h6>&nbsp</h6>
                            <select id="cook_time_unit" name="cook_time_units" class="validate" required>
                                <option value="" disabled selected>Unit</option>
                                {% for unit in time_unit %}
                                {% if unit.time_unit == recipe.cook_time_units %}
                                <option value="{{ unit.time_unit }}" selected>{{ unit.time_unit }}</option>
                                {% else %}
                                <option value="{{ unit.time_unit }}">{{ unit.time_unit }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!--Recipe Details-->
                    <div class="row">
                        <div class="input-field col s5 xl2 offset-s1 offset-xl2">
                            <h6>Difficulty:</h6>
                            <select id="difficulty" name="difficulty" class="validate" required>
                                <option value="" disabled selected>Difficulty Level</option>
                                {% for diff in difficulty %}
                                {% if diff.difficulty == recipe.difficulty %}
                                <option value="{{ diff.difficulty }}" selected>{{ diff.difficulty }}</option>
                                {% else %}
                                <option value="{{ diff.difficulty }}">{{ diff.difficulty }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="input-field col s4 xl2 offset-s1 offset-xl2">
                            <h6>Serves</h6>
                            <input value="{{ recipe.serves }}" id="serves" name="serves" type="text" minlength="1"
                                maxlength="2" pattern="^[0-9]{1,2}" class="validate" required>
                            <span class="helper-text" data-error="Please enter a number this recipe serves"
                                data-success=""></span>
                        </div>
                    </div>
                    <!--Recipe Ingredients-->
                    <div class="row">
                        <div class="input-field col s10 xl4 offset-s1 offset-xl2" id="ingredients-form">
                            <h6>Recipe Ingredients:</h6>
                            {% for ingredient in recipe['ingredients'] %}
                            <i class="material-icons right ingredient-delete" >cancel</i>
                            <input value="{{ ingredient }}" id="ingredient" name="ingredients" type="text">
                            {% endfor%}
                        </div>

                        <!--Recipe Method-->

                        <div class="input-field col s10 xl4 offset-s1 offset-xl1" id="methods-form">
                            <h6>Recipe Method:</h6>
                            {% for method in recipe['method'] %}
                                <i class="material-icons right method-delete">cancel</i>
                                <textarea id="method" name="method" class="materialize-textarea">{{ method }}</textarea>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 xl4 offset-xl2" id="ingredients-form">
                            <h6 id="add-ingredient"><i class="material-icons left">add_circle</i>Click to add an additional ingredient</h6>             
                        </div>

                        <div class="input-field col s6 xl4 offset-xl1" id="methods-form">
                            <h6 id="add-method-step"><i class="material-icons left">add_circle</i>Click to add additional method step</h6>
                        </div>
                    </div>
                    <!--Update recipe Button-->
                    <button class="btn waves-effect waves-grey col s4 xl2 offset-s4 offset-xl5 orange"
                        type="submit">Edit
                        <i class="material-icons left">account_circles</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}