{% extends "base.html" %}
{% block content %}
<!--Image slider with captions - can take multiple images/captions-->
<div class="slider">
    <ul class="slides">
        <li>
            <img
                src="https://images.unsplash.com/photo-1466220549276-aef9ce186540?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
            <div class="caption right-align">
                <h3>Cooking over an open fire</h3>
                <h5 class="light grey-text text-lighten-3">Recipes for every occasion</h5>
            </div>
        </li>
    </ul>
</div>

<!--Search bar-->
<div class="row container blue-grey lighten-2">
    <form action="{{url_for('search')}}" id="search" method="POST">
    <div class="col s12">
        <div class="row valign-wrapper">
            
            <div class="input-field col s8 offset-s1 white-text text-shadow"> 
                <h5>Search</h5>               
                <input type="text" name="query" id="autocomplete-input" class="autocomplete white" minlength="3">
                <h6>Search entry must be at least 3 characters in length</h6>
            </div>
            <div class="col s2 center">
                <button class="btn blue-grey darken-2 waves-effect waves-light" type="submit" name="action">Search
    <i class="material-icons left">send</i>
  </button>
  <a href="{{ url_for('recipes') }}" class="btn orange"><i class="material-icons left">close</i>Reset</a>
            </div>
        </div>
    </div>
    </form>
</div>

<!--All recipes content section-->
<section>
    <div>
        <h5 class="text-shadow">Recipes</h5>
    </div>

    <div class="row">
        {% for recipe in recipes %}
        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="card-link">
            <div class="col s12 m6 l4 xl2">
                <div class="card z-depth-4">
<!--Card Imagery-->
                    <div class="card-image">
                        <img src="{{recipe.image_url}}">
                    </div>
<!--Card Grid content-->
                    <div class="card-content">
                        <h6 class="truncate">{{recipe.recipe_name}}</h6>
                        <div class="grid-container">
                            <div class="grid-content center">
                                <p>Prep Time:</p>
                                <h6>{{recipe.prep_time ~ ' ' ~ recipe.prep_time_units}}</h6>
                            </div>
                            <div class="grid-content center">
                                <p>Cook Time:</p>
                                <h6>{{recipe.cook_time ~ ' ' ~ recipe.cook_time_units}}</h6>
                            </div>
                            <div class="grid-content center">
                                <p>Serves:</p>
                                <h6>{{recipe.serves}}</h6>
                            </div>
                            <div class="grid-content center">
                                <p>Difficulty:</p>
                                <h6>{{recipe.difficulty}}</h6>
                            </div>
                        </div>
                        <i class="right">recipe added by: {{recipe.added_by}}</i>
                    </div>
<!--Cards edit/delete buttons - only displayed for items of logged in user-->
                    <div class="action-buttons">
                        {% if session.user == recipe.added_by %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-flat tooltipped"
                            data-position="bottom" data-tooltip="Edit Recipe"><i class="material-icons">create</i></a>
                        
                        <!-- Modal Trigger -->
                        <a class="btn-flat right modal-trigger tooltipped" href="#{{recipe._id}}" data-position="bottom"
                            data-tooltip="Delete Recipe"><i class="material-icons">cancel</i></a>
                        <!-- Modal Structure -->
                        <div id="{{recipe._id}}" class="modal">
                            <div class="modal-content center-align">
                                <h5>Are you sure you wish to delete this recipe?</h5>
                            </div>
                            <div class="modal-footer center">
                                <a href="{{ url_for('delete_recipe', deletion_id=recipe._id) }}"
                                    class="modal-close waves-effect waves-green btn-flat">Delete</a>
                                <a href="" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}
        </a>
    </div>
</section>





{% endblock %}