{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.recipe_summary }}<br>
        {{ recipe.serves }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.cook_time }}<br>
        {{ recipe.image_url }}<br>
       
        {% for ingredient in recipe.ingredients %}
            {{ ingredient }}<br>
        {% endfor %}
        
        {% for steps in recipe.method %}
            {{ steps }}<br>
        {% endfor %}
    {% endfor %}

{% endblock %}
